/* Simplistic reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 2em;
	color: #fff;
	font-family: 'Source Code Pro', monospace;
	text-align: center;
	background: rgb(0,2,32);
	background: linear-gradient(57deg, rgba(0,2,32,1) 0%, rgba(0,2,40,1) 32%, rgba(0,2,32,1) 100%);
}

main {
	max-width: 480px;
	margin: 0 auto;
}

h1, time {
	font-family: 'Righteous';
}

time {
	display: block;
	margin-bottom: 16px;
	font-size: clamp(6em, 12vw, 9em);
}

button {
	cursor: pointer;
	font-weight: bold;
	font-size: 1em;
}

.ctrlBtnGroup {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
}

.ctrlBtn {
	width: 150px;
	height: 35px;
	margin: 0 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.pauseTimer, .resetTimer {
	transition: .3s;
}

.pauseTimer:hover {
	background-color: #f2e1b1;
}

.resetTimer:hover {
	background-color: #f2bdb1;
}

.timerBtnGroup {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	margin-top: 5em;
}

.timerBtn {
	min-width: 250px;
	width: calc(100% - 6em);
	height: 45px;
	margin: .5em auto;
	transition: .3s;
}

.timerBtn:nth-child(1) {
	background-color: #d5d8f2;
}

.timerBtn:nth-child(1):hover {
	background-color: #c9cdf2;
}

.timerBtn:nth-child(2) {
	background-color: #c9cdf2;
}

.timerBtn:nth-child(2):hover {
	background-color: #bbc0f2;
}

.timerBtn:nth-child(3) {
	background-color: #bbc0f2;
}

.timerBtn:nth-child(3):hover {
	background-color: #b1b6f2;
}

.disclaimer {
	margin-top: 8em;
}

.disclaimer a {
	color: #9966cc;
}